nav.sidemap-navigation {
    padding: 3rem;
    background-color: var(--background);
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;

    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

nav.sidemap-navigation .modules {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

nav.sidemap-navigation .modules .module {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem .75rem;
    border-radius: .5rem;
    border: 1px solid transparent;
    transition: border .25s ease-in-out;
}

nav.sidemap-navigation .modules .module:hover {
    border: 1px solid var(--border);
}

nav.sidemap-navigation .modules .module p {
    font-family: 'Inter', sans-serif;
    font-size: .85rem;
    text-transform: uppercase;
    line-height: 1.5rem;
    letter-spacing: -.01rem;
    font-weight: 600;
}

nav.sidemap-navigation .modules .module svg {
    width: 1.25rem;
    height: 1.25rem;
}

nav.sidemap-navigation .interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;

    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: -.01rem;
    font-weight: 600;
}

nav.sidemap-navigation .interface .interface-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav.sidemap-navigation .interface .interface-item svg {
    height: 1.25rem;
    width: 1.25rem;
}

.jump-back {
    all: unset;
    cursor: pointer;
    border: 1px solid var(--border);
    border-radius: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    width: 5rem;
    padding: 1rem;
    transition: border .25s ease-in-out, gap .25s ease-in-out;
}

.jump-back:hover {
    border: 1px solid var(--text);
    gap: 2rem;
}

.jump-back svg {
    height: 1.5rem;
    width: 1.5rem;
}