.user-display{
    position: relative;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 1.5rem);
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}

.user-item{
    overflow: visible;
}

.user-icon{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    box-shadow: 0 0 .5rem 0 black;
}