/*
https://www.realtimecolors.com/?colors=f0effa-0c0b23-635fce-0a0a1f-3e3abb&fonts=Poppins-Poppins
*/


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --text: rgb(240, 239, 250);
  --text-disabled: #6d7280;
  --background: rgb(12, 11, 35);
  /* --background: rgb(33, 40, 49); */
  --primary: rgb(99, 95, 206);
  --secondary: rgb(10, 10, 31);
  --secondary-tone: rgb(25, 25, 59);
  --accent: rgb(62, 58, 187);

  --item-disabled: rgb(121, 121, 121);
  --item-head: rgb(6, 5, 18);

  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Inter', sans-serif;
  --mono-font: 'Roboto Mono', monospace;

  --welcome-size: 2rem;
  --primary-size: 1rem;
  --secondary-size: .85rem;

  --border-color: rgba(255, 255, 255, 0.1);

  --generic-shadow: 0 0 2rem 0 rgba(0, 0, 0, .75);
  --slight-shadow: 0 0 3rem 0 rgba(0, 0, 0, .25);

  --gradient-1: rgb(84, 0, 50);
  --gradient-2: rgb(240, 67, 58);

  --role-admin: rgb(255, 30, 0);
  --bg-role-admin: rgba(255, 30, 0, .5);
  /* --role-admin: rgb(205, 4, 2);
  --bg-role-admin: rgba(205, 4, 2, .5); */
  --role-dev: rgb(190, 185, 69);
  --bg-role-dev: rgb(190, 185, 69, .5);
  --role-staff: rgb(41, 169, 255);
  --bg-role-staff: rgba(41, 169, 255, .5);
  --role-user: rgb(0, 220, 0);
  --bg-role-user: rgba(0, 220, 0, .5);
  --role-unknwon: rgb(190, 190, 190);
  --bg-role-unknwon: rgba(190, 190, 190, .5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--text);
  font-family: var(--primary-font);
}

body,
html,
main {
  background-color: var(--background);
  /* overflow-x: hidden; */
}

body {
  display: grid;
  height: 100dvh;
  position: relative;

  grid-template-rows: min-content auto;
  grid-template-columns: 20% auto;
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  height: 100%;
  overflow-y: auto;
}

main.access-error {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

img.img-avatar {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  padding: .5rem;
}

span.gradient-font {
  position: relative;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(-45deg, var(--gradient-1), var(--gradient-2));
}

span.user-role {
  text-transform: uppercase;
  border-radius: .25rem;
  width: fit-content;
  padding: .25rem .5rem;
  font-family: var(--secondary-font);
  font-weight: 700;
}

span.role-admin {
  background-color: var(--bg-role-admin);
  color: var(--role-admin);
}

span.role-dev {
  background-color: var(--bg-role-dev);
  color: var(--role-dev);
}

span.role-staff {
  background-color: var(--bg-role-staff);
  color: var(--role-staff);
}

span.role-user {
  background-color: var(--bg-role-user);
  color: var(--role-user);
}

span.role-unknown {
  background-color: var(--bg-role-unknwon);
  color: var(--role-unknwon);
}

.interface-item.reload-data {
  background-color: var(--accent);
  padding: .5rem;
  border-radius: 100%;
}

.interface-item.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .25rem;
  background-color: var(--accent);
  padding: .5rem;
  border-radius: .5rem;
}

.interface-item.searchbar input[type=search] {
  all: unset;
  background-color: var(--background);
  width: 10rem;
  height: 1.55rem;
  border-radius: .5rem;
  padding: .25rem .5rem;
}

.module.highlight-module {
  background-color: var(--secondary-tone) !important;
}

*[data-tooltip-id] {
  cursor: help;
}

.user-object {
  padding: 0 .25rem;
  display: grid;
  grid-template-rows: 1.5rem 1.5rem;
  grid-template-columns: 3rem auto;
  justify-content: center;
  align-items: center;
  column-gap: .75rem;
}

.user-avatar {
  grid-row: 1/3;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-name {
  font-weight: 600;
  font-size: 1.2rem;
  grid-row: 1/2;
  grid-column: 2/3;
}

.user-role {
  font-size: .8rem;
  grid-row: 2/3;
  grid-column: 2/3;
}

.user-avatar img {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

button.btn-disabled {
  cursor: not-allowed !important;
  filter: blur(2px) saturate(0) grayscale(100%) !important;
}

.response-container a {
  text-decoration: dotted white underline;
}