.case-view {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.case-view-item {
    background-color: var(--secondary-tone);
    padding: 2rem;
    border-radius: .75rem;
    box-shadow: var(--slight-shadow);
    height: 100%;
}

.case-tools {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.action-container,
.timeline-container,
.participants-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cc-body-title,
.case-view-heading {
    text-transform: uppercase;
    font-size: 1rem;
}

.cc-head-title,
.cc-row-title,
.timeline-event {
    text-transform: uppercase;
    font-size: .9rem;
}

.timeline-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.timeline-item {
    padding: .75rem;
    border-radius: .5rem;
    background-color: var(--secondary-tone);
    border: 1px solid var(--border-color);
}

.case-view-btn-container {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.case-action-btn {
    cursor: pointer;
    all: unset;
    background-color: var(--item-head);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.case-action-btn svg {
    height: 1.25rem;
    width: 1.25rem;
}

.case-action-btn.delete-btn {
    background-color: var(--access-privileged);
}

.case-content {
    display: flex;
    flex-direction: column;
}

.cc-sep {
    height: 2px;
    width: calc(100% - 2rem);
    background-color: var(--border-color);
    margin: .75rem 1rem;
}

.case-content-head {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.cc-head-row {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.case-content-body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cc-head-container,
.cc-body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.case-content-row {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.cc-type-desc{
    display: inline-flex;
    align-items: center;
    gap: .5rem;
}

.cc-type-desc img{
    margin: 0;
    height: 1.25rem;
    width: 1.25rem;
}