.cases-main-page {
    padding: 0;
    position: relative;
}

.cases-ui {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    position: sticky;
    top: 0;
    background-color: var(--background);
    height: fit-content;
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

.cases-ui-item {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent);
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.cases-ui-item svg {
    height: 1.5rem;
    width: 1.5rem;
}

.cases-ui-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.cases-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.case-head {
    position: sticky;
    top: 0;
    border-bottom: solid 1px var(--border-color);
    background-color: var(--background);
}

.case-head .head-container {
    display: grid;
    column-gap: .75rem;
    grid-template-rows: auto;
    grid-template-columns: 1.5rem 5rem 5rem auto 5rem 5rem 5rem;
    align-items: center;
}

.case-head .head-item {
    padding: .75rem;
}

.head-item.plch {
    grid-column: 1/1;
}

.case-body .case-item {
    display: grid;
    column-gap: .75rem;
    grid-template-rows: auto;
    grid-template-columns: 1.5rem 6rem 15rem auto 15rem 7rem 7rem;
    align-items: center;
    padding: .75rem;
}

.case-item {
    background-color: var(--item);
    font-size: .9rem;
    border-bottom: 1px solid var(--border-color);
    transition: background-color .25s ease-in-out;
}

.case-head .head-item {
    background-color: var(--background);
    font-family: var(--secondary-font);
    font-size: var(--primary-size);
    text-transform: uppercase;
    line-height: 2rem;
    letter-spacing: -.01rem;
    font-weight: 600;
    height: 100%;
    width: 100%;
}

.case-status-icon,
.case-type-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-type-icon svg,
.case-type-icon {
    height: 1.35rem;
    width: 1.35rem;
}